/* Edit */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
width: 1440px;
height: 109px;
left: 0px;
top: 0px;

background: #FFFEFE;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);


/* 1_7ugSMISUo8vYf9ILG6VmuQ */

position: absolute;
width: 150px;
height: 106px;
left: 48px;
top: 0px;

background: url(1_7ugSMISUo8vYf9ILG6VmuQ.png);


/* Table */

position: absolute;
visibility: hidden;
width: 1292px;
height: 526.02px;
left: 143px;
top: 232.99px;



/* Table */

position: absolute;
width: 1292px;
height: 526.02px;
left: 143px;
top: 232.99px;

box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);


/* Rectangle 2 */

position: absolute;
width: 1169px;
height: 87px;
left: 145px;
top: 233px;

background: #F7F7FA;
border-radius: 10px;


/* Name */

position: absolute;
width: 214px;
height: 45px;
left: 225px;
top: 256px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Work */

position: absolute;
width: 313px;
height: 50px;
left: 539px;
top: 256px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Salary */

position: absolute;
width: 288px;
height: 50px;
left: 859px;
top: 256px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Action */

position: absolute;
width: 288px;
height: 50px;
left: 1147px;
top: 253px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Line */

position: absolute;
width: 526.02px;
height: 0px;
left: 394px;
top: 759.01px;

border: 1px solid #000000;
border-radius: 10px;
transform: rotate(-90deg);


/* Line */

position: absolute;
width: 526.02px;
height: 0px;
left: 145px;
top: 759.01px;

border: 1px solid #000000;
border-radius: 10px;
transform: rotate(-90deg);


/* Line */

position: absolute;
width: 526.02px;
height: 0px;
left: 770px;
top: 759.01px;

border: 1px solid #000000;
border-radius: 10px;
transform: rotate(-90deg);


/* Line */

position: absolute;
width: 526.02px;
height: 0px;
left: 1063px;
top: 759.01px;

border: 1px solid #000000;
border-radius: 10px;
transform: rotate(-90deg);


/* Line */

position: absolute;
width: 526.02px;
height: 0px;
left: 1312px;
top: 759.01px;

border: 1px solid #000000;
border-radius: 10px;
transform: rotate(-90deg);


/* Line 2 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 759px;

border: 1px solid #000000;
border-radius: 10px;


/* Line 2.3 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 659px;

border: 1px solid #000000;
border-radius: 10px;


/* Line 2.4 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 548px;

border: 1px solid #000000;
border-radius: 10px;


/* Line 2.5 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 428px;

border: 1px solid #000000;
border-radius: 10px;


/* Line 2.1 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 322px;

border: 1px solid #000000;
border-radius: 10px;


/* Line 2.2 */

position: absolute;
width: 1169px;
height: 0px;
left: 143px;
top: 233px;

border: 1px solid #000000;
border-radius: 10px;


/* Soni */

position: absolute;
width: 871px;
height: 399px;
left: 211px;
top: 353px;



/* Bintang */

position: absolute;
width: 260px;
height: 63px;
left: 211px;
top: 353px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Backend Dev */

position: absolute;
width: 260px;
height: 63px;
left: 487px;
top: 353px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Rp.12.000.000 */

position: absolute;
width: 260px;
height: 63px;
left: 820px;
top: 353px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Rp.12.000.000 */

position: absolute;
width: 260px;
height: 63px;
left: 820px;
top: 468px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Rp.12.000.000 */

position: absolute;
width: 260px;
height: 63px;
left: 822px;
top: 581px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Rp.10.000.000 */

position: absolute;
width: 260px;
height: 63px;
left: 822px;
top: 689px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Isgi */

position: absolute;
width: 533px;
height: 63px;
left: 221px;
top: 468px;



/* Tasya */

position: absolute;
width: 260px;
height: 63px;
left: 221px;
top: 468px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Backend Dev */

position: absolute;
width: 260px;
height: 63px;
left: 494px;
top: 468px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Iqbal */

position: absolute;
width: 536px;
height: 63px;
left: 217px;
top: 583px;



/* Poetra */

position: absolute;
width: 260px;
height: 63px;
left: 217px;
top: 583px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Backend Dev */

position: absolute;
width: 260px;
height: 63px;
left: 493px;
top: 583px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Kiky */

position: absolute;
width: 517px;
height: 63px;
left: 228px;
top: 694px;



/* Joko */

position: absolute;
width: 260px;
height: 63px;
left: 228px;
top: 694px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Frontend Dev */

position: absolute;
width: 260px;
height: 63px;
left: 485px;
top: 694px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #000000;

border-radius: 10px;


/* Add Button */

position: absolute;
width: 196px;
height: 70px;
left: 1193px;
top: 19px;

box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);


/* Rectangle 3 */

position: absolute;
width: 190px;
height: 70px;
left: 1193px;
top: 19px;

background: #FADC9C;
border-radius: 10px;


/* ADD */

position: absolute;
width: 136px;
height: 32px;
left: 1253px;
top: 34px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #FFFFFF;



/* Button */

position: absolute;
visibility: hidden;
width: 132px;
height: 50px;
left: 1122px;
top: 351px;



/* trash */

position: absolute;
width: 50px;
height: 50px;
left: 1122px;
top: 351px;

background: url(trash.png);


/* edit */

position: absolute;
width: 45px;
height: 45px;
left: 1209px;
top: 355px;

background: url(edit.png);


/* Button */

position: absolute;
visibility: hidden;
width: 132px;
height: 50px;
left: 1122px;
top: 467px;



/* trash */

position: absolute;
width: 50px;
height: 50px;
left: 1122px;
top: 467px;

background: url(trash.png);


/* edit */

position: absolute;
width: 45px;
height: 45px;
left: 1209px;
top: 471px;

background: url(edit.png);


/* Button */

position: absolute;
visibility: hidden;
width: 132px;
height: 50px;
left: 1122px;
top: 578px;



/* trash */

position: absolute;
width: 50px;
height: 50px;
left: 1122px;
top: 578px;

background: url(trash.png);


/* edit */

position: absolute;
width: 45px;
height: 45px;
left: 1209px;
top: 582px;

background: url(edit.png);


/* Button */

position: absolute;
visibility: hidden;
width: 132px;
height: 50px;
left: 1122px;
top: 687px;



/* trash */

position: absolute;
width: 50px;
height: 50px;
left: 1122px;
top: 687px;

background: url(trash.png);


/* edit */

position: absolute;
width: 45px;
height: 45px;
left: 1209px;
top: 691px;

background: url(edit.png);


/* Table */

position: absolute;
width: 1232px;
height: 739px;
left: 104px;
top: 231px;



/* Rectangle 6 */

position: absolute;
width: 1232px;
height: 118px;
left: 104px;
top: 231px;

background: #FADC9C;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px 20px 0px 0px;


/* Rectangle 7 */

position: absolute;
width: 1232px;
height: 620px;
left: 104px;
top: 350px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 20px 20px;


/* Header Table */

position: absolute;
width: 1177px;
height: 50px;
left: 147px;
top: 270px;



/* No */

position: absolute;
width: 57px;
height: 50px;
left: 147px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Cashier */

position: absolute;
width: 125px;
height: 50px;
left: 306px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Product */

position: absolute;
width: 125px;
height: 50px;
left: 512px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Category */

position: absolute;
width: 155px;
height: 50px;
left: 739px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Action */

position: absolute;
width: 155px;
height: 50px;
left: 1169px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Price */

position: absolute;
width: 155px;
height: 50px;
left: 973px;
top: 270px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Content */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 385px;



/* 1 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 385px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Pevita Pearce */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 385px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Latte */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 385px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Drink */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 385px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 10.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 385px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Content 2 */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 489px;



/* 2 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 489px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Raisa Andriana */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 489px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Cake */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 489px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Food */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 489px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 15.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 489px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Content 3 */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 587px;



/* 3 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 587px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Raisa Andriana */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 587px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Fried Rice */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 587px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Food */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 587px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 30.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 587px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Content 4 */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 684px;



/* 4 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 684px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Pevita Pearce */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 684px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Gudeg */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 684px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Food */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 684px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 35.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 684px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Content 5 */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 783px;



/* 5 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 783px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Joko Purwadhi */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 783px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Ice Tea */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 783px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Drink */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 783px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 55.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 783px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Content 6 */

position: absolute;
width: 1004px;
height: 52px;
left: 150px;
top: 879px;



/* 6 */

position: absolute;
width: 55px;
height: 52px;
left: 150px;
top: 879px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Nama Kamu */

position: absolute;
width: 216px;
height: 52px;
left: 251px;
top: 879px;

font-family: Airbnb Cereal App;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Makanan Favorit Kamu */

position: absolute;
width: 216px;
height: 52px;
left: 531px;
top: 879px;

font-family: Airbnb Cereal App;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Food */

position: absolute;
width: 216px;
height: 52px;
left: 758px;
top: 879px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rp. 15.000 */

position: absolute;
width: 216px;
height: 52px;
left: 938px;
top: 879px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #000000;



/* Rectangle 10 */

position: absolute;
width: 866px;
height: 58px;
left: 226px;
top: 25px;

background: #CECECE;
border-radius: 10px;


/* Search ... */

position: absolute;
width: 310px;
height: 42px;
left: 258px;
top: 33px;

font-family: Airbnb Cereal App;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 39px;

color: #FFFFFF;



/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 386px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 386px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 386px;

background: url(bin.png);


/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 489px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 489px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 489px;

background: url(bin.png);


/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 582px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 582px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 582px;

background: url(bin.png);


/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 686px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 686px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 686px;

background: url(bin.png);


/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 783px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 783px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 783px;

background: url(bin.png);


/* Button */

position: absolute;
width: 103px;
height: 40px;
left: 1177px;
top: 880px;



/* edit (2) 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1177px;
top: 880px;

background: url(edit (2).png);


/* bin 1 */

position: absolute;
width: 40px;
height: 40px;
left: 1240px;
top: 880px;

background: url(bin.png);


/* Modal */

position: absolute;
width: 1440px;
height: 1039px;
left: 0px;
top: -15px;



/* Rectangle 8 */

position: absolute;
width: 1440px;
height: 1039px;
left: 0px;
top: -15px;

background: #000000;
opacity: 0.5;


/* Rectangle 9 */

position: absolute;
width: 1189px;
height: 741px;
left: 122px;
top: 149px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;


/* EDIT */

position: absolute;
width: 230px;
height: 75px;
left: 161px;
top: 180px;

font-family: Airbnb Cereal App;
font-size: 40px;
line-height: 52px;

color: #000000;



/* Content Modal */

position: absolute;
width: 700px;
height: 440.02px;
left: 351px;
top: 283px;



/* Content */

position: absolute;
width: 700px;
height: 66.02px;
left: 351px;
top: 283px;



/* Line 3 */

position: absolute;
width: 700px;
height: 0px;
left: 351px;
top: 349.02px;

border: 1px solid #969191;


/* Raisa Andriana */

position: absolute;
width: 213px;
height: 46px;
left: 363px;
top: 283px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #CECECE;



/* downwards-arrow-key */

position: absolute;
width: 50px;
height: 50px;
left: 987px;
top: 283px;

background: url(downwards-arrow-key.png);


/* Content 2 */

position: absolute;
width: 700px;
height: 66.02px;
left: 351px;
top: 422px;



/* Line 3 */

position: absolute;
width: 700px;
height: 0px;
left: 351px;
top: 488.02px;

border: 1px solid #969191;


/* Drink */

position: absolute;
width: 213px;
height: 46px;
left: 363px;
top: 422px;

font-family: Airbnb Cereal App;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;

color: #CECECE;



/* downwards-arrow-key */

position: absolute;
width: 50px;
height: 50px;
left: 987px;
top: 422px;

background: url(downwards-arrow-key.png);


/* Content 3 */

position: absolute;
width: 700px;
height: 66.02px;
left: 351px;
top: 541px;



/* Line 3 */

position: absolute;
width: 700px;
height: 0px;
left: 351px;
top: 607.02px;

border: 1px solid #969191;


/* Ice Tea */

position: absolute;
width: 213px;
height: 46px;
left: 363px;
top: 541px;

font-family: Airbnb Cereal App;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;

color: #CECECE;



/* downwards-arrow-key */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 987px;
top: 541px;

background: url(downwards-arrow-key.png);


/* Content 7 */

position: absolute;
width: 700px;
height: 66.02px;
left: 351px;
top: 657px;



/* Line 3 */

position: absolute;
width: 700px;
height: 0px;
left: 351px;
top: 723.02px;

border: 1px solid #969191;


/* Rp. 10.000 */

position: absolute;
width: 213px;
height: 46px;
left: 363px;
top: 657px;

font-family: Airbnb Cereal App;
font-size: 30px;
line-height: 39px;

color: #CECECE;



/* downwards-arrow-key */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 987px;
top: 657px;

background: url(downwards-arrow-key.png);


/* Edit Button */

position: absolute;
width: 198px;
height: 70px;
left: 1057px;
top: 777px;

box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);


/* Rectangle 3 */

position: absolute;
width: 190px;
height: 70px;
left: 1057px;
top: 777px;

background: #FADC9C;
border-radius: 10px;


/* EDIT */

position: absolute;
width: 136px;
height: 32px;
left: 1119px;
top: 793px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #FFEFEF;



/* X */

position: absolute;
width: 88px;
height: 67px;
left: 1246px;
top: 170px;

font-family: Airbnb Cereal App;
font-size: 40px;
line-height: 52px;

color: #F6404F;

